$standard_text: #999;
$standard_background: #f4f4f4;
$accent_color: #880033;

body {
	background: #fff;
	color: $standard_text;
}

a {
	text-decoration: none;
	color: $accent_color;
}

img {
	max-width: 100%;
	border-radius: 10px;
}

h3 {
	margin: 0 0 1em 0;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	p {
		line-height: 1.5;
	}
}

header {
	float: left;
	margin: 0 0 30px 0;
	width: 100%;
	background: $standard_background;
	padding: 5px 0 0 0;
	color: $standard_text;
	#logo {
		text-align: center;
	}
	h1 {
		margin: 15px 0;
		font-size: 1.75em;
		color: $standard_text;
	}
	h2 {
		font-size: 0.75em;
		color: $standard_text;
	}
}

nav {
	text-align: center;
	background: $accent_color;
	padding: 10px 0;
	margin: 20px 0 0;
	ul {
		list-style: none;
		margin: 0 10px;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0 0 0 -5px;
	}
	a {
		padding: 10px 10px;
		font-weight: 600;
		color: #fff;
		&:visited {
			color: #fff;
		}
		&:hover, &.selected {
			background: lighten($accent_color, 8%);
		}
	}
}

#gallery {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		float: left;
		width: 45%;
		margin: 2.5%;
		background: $standard_background;
	}
	li a p {
		padding: 0 5%;
		font-size: 0.75em;
		font-weight: 700;
		color: $standard_text;
	}
}

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

footer {
	clear: both;
	padding-top: 50px;
	text-align: center;
	font-size: 0.75em;
}

